<h1 style = "color:red;"> Welcome to Bueler! </h1>
<p> <%= link_to 'New Student', students_path %></p>


<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end -%>

<table border="2px">
  <tr>
     <th>Name</th>
     <th>Nickname</th>
      <th>Email</th>
      <th>Gravatar Image</th>
      <th>Options</th>
  </tr>
  <% @students.each do |s| %>
  <tr >
      <td width="15%" style = "text-align:center;"><%= s.name %> </td>
      <td width="15%" style = "text-align:center;"><%= s.nickname %>  </td>
      <td width="20%" style = "text-align:center;"><%= s.email %> </td>&nbsp;&nbsp;&nbsp;&nbsp;
      <td width="20%" style = "text-align:center;"><img src = <%= s.gravatar %> height="100" width="100"> </td>
      <td width="5%" style = "text-align:center;"><%= link_to 'Edit', edit_student_path(s) %> </td>
    </tr>
  <% end %>
  
  
</table>


